<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825813391682-1gieashsfo59nbbp9jcputs87h57jnti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825813391682-1gieashsfo59nbbp9jcputs87h57jnti</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ1SNkahjUkoquH1YKIPKdZpDhDln14E4</string>
	<key>GCM_SENDER_ID</key>
	<string>825813391682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mindsense</string>
	<key>PROJECT_ID</key>
	<string>mindsense1</string>
	<key>STORAGE_BUCKET</key>
	<string>mindsense1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825813391682:ios:b43c0c21b5ed74ad0ed0db</string>
	<key>DATABASE_URL</key>
	<string>https://mindsense1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>